# Parameter store parameters and values
# name
#   - type - accepts String, StringList, SecureString
#   - description
#   - value

environment:
  - 'String'
  - 'Staging Environment'
  - 'production'

secret:
  - 'SecureString'
  - 'Secret Password'
  - 'password'
#test3:
#  - 'SecureList'
#  - "Description 3"
#  - 'test3value, test3value2, test3value3'
